{% extends 'base.html.twig' %}
{% block title%}
	Edition d'un pays
{% endblock %}
{% block main %}

	{% if errors !="" %}
		{{errors}}
	{% endif %}

	{{form_start(form)}}
	{# Displaying id #}
	<p class="w-25">ID =
		{{ result.id }}</p>

	{# Displaying input for the name #}
	{{form_row(form.name)}}

	{# Displaying input for the code #}
	{{form_row(form.code)}}

	{# Submit button #}
	<div class="col-12 mb-3 w-25">
		<button class="btn btn-primary" type="submit">Enregistrer les changements</button>
	</div>
	{{form_end(form)}}


	{% if formSubmitted %}
		{{info}}
		{{result.code}}
	{% endif %}

{% endblock %}
